@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
  --bg-color: #f0f0ff;
}

body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: var(--bg-color);
}

.App {
  text-align: center;
}

textarea {
  overflow: scroll;
  padding: 5px;
  color: black;
  background: #ffffff;
  border: 1px solid #ced4da;
  font-size: 15px;
  border-radius:5px;
}

p {
  display: initial;
  white-space: break-spaces;
  font-size: large;
}

.verb{
    color:#0066ff;
}    
.adj{
    color: #00b59a;
}
.noun{
    color: rgb(252, 2, 90);
}
.undef{
    color: #373c45;
}
.phrverb{
    color: #d907ff;
}