body{
    text-align: center;
    /* font-family: 'ABeeZee', sans-serif; */
    font-family: 'Fredoka One', cursive;
    background: #f0f0ff;
}

p{
    margin-top: 0;
    margin-bottom: 2px;
    /* display: contents; */
    display: initial;
    white-space: nowrap;
}

a{
    text-decoration: none;
    list-style: none;
}

.form-control{
    width: 25%;
    margin: 0 auto;
    color: #00000094;
    font-size: 15px;
}

.verb{
    color:#0066ff;
}    
.adj{
    color: #00b59a;
}
.noun{
    color: rgb(252, 2, 90);
}
.undef{
    color: #373c45;
}
.phrverb{
    color: #d907ff;
}
 
input{
    padding-left: 20%;
}
textarea.form-control {
    overflow: hidden;
}

/* Display: Grid */
.wordsec{
    width: 80%;
    margin: 0 auto;
    display: block;	
    grid-template-rows: none;
    grid-template-columns: none;
    margin-bottom: 5vh;
}

/* FilterArea */
.filterArea{
    padding-bottom: 1vh;
    margin-top: -2px;
    margin-bottom: 1vh;
}

/* Tabs & Buttons */
button.active{
    background-color: rgba(220, 221, 225, 0.159);
}

.btn-upload {
    color: #1c1707;
    background-color: white;
    border-color: #adadacdc;
    margin-bottom: 1vh;
}


.btn-generator {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.word:hover{
    cursor: help;
}

b .bcount2{
    background-color: #28a745;
    color: pink;
}

.mongo_title{
    margin-bottom: -7px;
    margin-top: -27px;
    border-radius: 4px;
    text-transform: capitalize;
}