<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Stats</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
    .data-tr:nth-child(odd){
        background-color: #06131e !important;
    }
    td{
        text-align: center;
    }
</style>
<body class="bg-black">
    
    <div class="rounded-t-xl overflow-hidden bg-gradient-to-r from-blue-50 to-teal-100 p-10">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-2 py-2 text-blue-600">Title</th>
              <th class="px-2 py-2 text-blue-600">Date</th>
              <th class="px-2 py-2 text-blue-600">Total</th>
              <th class="px-2 py-2 text-blue-600">Unique</th>
              <th class="px-2 py-2 text-blue-600">Typical</th>
              <th class="px-2 py-2 text-blue-600">Verb</th>
              <th class="px-2 py-2 text-blue-600">Noun</th>
              <th class="px-2 py-2 text-blue-600">Adjective</th>
              <th class="px-2 py-2 text-blue-600">Phrasal</th>
              <th class="px-2 py-2 text-blue-600">Undef</th>

              <th class="px-2 py-2 text-blue-600">Oxford</th>
              <th class="px-2 py-2 text-blue-600">A1</th>
              <th class="px-2 py-2 text-blue-600">A2</th>
              <th class="px-2 py-2 text-blue-600">B1</th>
              <th class="px-2 py-2 text-blue-600">B2</th>
              <th class="px-2 py-2 text-blue-600">C1</th>
              <th class="px-2 py-2 text-blue-600">Other</th>

              <th class="px-2 py-2 text-blue-600">Typical%</th>
              <th class="px-2 py-2 text-blue-600">Oxford%</th>
              <th class="px-2 py-2 text-blue-600">A%</th>
              <th class="px-2 py-2 text-blue-600">B%</th>
              <th class="px-2 py-2 text-blue-600">C%</th>
            </tr>
          </thead>
          <tbody>
            {% for d in data %}
            <tr class="data-tr">
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][0]}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].date}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].count.total}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].count.unique}}</td>

                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].count.typical}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].type.verb}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].type.noun}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].type.adj}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].type.phrverb}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].type.undef}}</td>

                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].count.oxAll}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].oxford.a1}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].oxford.a2}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].oxford.b1}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].oxford.b2}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].oxford.c1}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].oxford.other}}</td>

                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].percentage.typical}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].percentage.oxford}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].percentage.oxA}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].percentage.oxB}}</td>
                <td class="border border-blue-500 px-2 py-2 text-blue-600 font-medium">{{d[1][1].percentage.oxC}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

</body>
</html>